{% extends 'payments/base.html' %}

{% block content %}

    <h2>Список реквизитов</h2>
    {% if user.is_authenticated %}

        <form method="get" class="form-inline" id="requisite-list-form">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="{{ sort_form.search_query.id_for_label }}">Поиск:</label>
                    {{ sort_form.search_query }}
                </div>

                <div class="form-group col-md-3">
                    <label for="{{ sort_form.sort_order.id_for_label }}">Порядок сортировки:</label>
                    {{ sort_form.sort_order }}
                </div>

                <div class="form-group col-md-3">
                    <label for="{{ sort_form.sort_by.id_for_label }}">Сортировка:</label>
                    {{ sort_form.sort_by }}
                </div>

                <div class="form-group col-md">
                    <button type="submit" class="btn btn-outline-primary">Применить сортировку и поиск</button>
                </div>
            </div>
        </form>
    {% endif %}

    <div class="card">
        <table class="inner-table" style="width: 100%; border-collapse: collapse; border: 1px solid #ddd;">
            <thead>
            <tr style="border-bottom: 1px solid #ddd;">
                <th style="width: 20%; border: 1px solid #ddd;">Тип платежа</th>
                <th style="width: 20%; border: 1px solid #ddd;">Тип карты</th>
                <th style="width: 20%; border: 1px solid #ddd;">ФИО</th>
                <th style="width: 20%; border: 1px solid #ddd;">Номер телефона</th>
                <th style="width: 20%; border: 1px solid #ddd;">Лимит</th>
            </tr>
            </thead>

            {% for object in object_list %}
                <tbody>
                <tr style="border-bottom: 1px solid #ddd;">
                    <td style="border: 1px solid #ddd;">{{ object.type_of_payment }}</td>
                    <td style="border: 1px solid #ddd;">{{ object.card_type }}</td>
                    <td style="border: 1px solid #ddd;">{{ object.owner_full_name }}</td>
                    <td style="border: 1px solid #ddd;">{{ object.phone_number }}</td>
                    <td style="border: 1px solid #ddd;">{{ object.limit }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ object_list.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
